@using WeddingPlanner.Models
@model WeddingPlanner.Models.Wedding

<h1>Welcome to the Wedding Planner</h1>
<a href="Logout">Log Out</a>

<table class="table">
    <tr>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guests</th>
        <th>Action</th>
    </tr>
    @{
        foreach(var wedding in @ViewBag.Weddings)
        {
           <tr> 
                <td>
                    <a href="Info/@wedding.WeddingId">@wedding.FirstWedder & @wedding.SecondWedder</a>
                </td>
                <td>@wedding.WeddingDate</td>
                <td>@wedding.Guests.Count</td>
                
                <td>
                    @{
                        if (@wedding.UserId == @ViewBag.UserID)
                        {
                            <a href="Delete/@wedding.WeddingId">Delete</a>
                        }
                        else
                        {
                            int usrPrst = 0;
                            foreach(var gst in @wedding.Guests)
                            {
                                if(@ViewBag.UserID == @gst.UserId)
                                {
                                    usrPrst = 1;
                                }
                            }
                            if(usrPrst == 0)
                            {
                                <a href="RSVP/@wedding.WeddingId">RSVP</a>
                            }
                            else
                            {
                                <a href="UnRSVP/@wedding.WeddingId">Un-RSVP</a>   
                            }
                        }
                    }             
                </td>
           </tr>
        }
    }
</table>

<br>
<a href="NewWedding"><button class="btn btn-success">New Wedding</button></a>