<p><a href="Dashboard">Dashboard</a> | <a href="Logout">Log Out</a></p>
<h1>Wedding of @ViewBag.FrstWed and @ViewBag.ScndWed</h1>
<h2>Date: @ViewBag.Date</h2>
<h2>Location: @ViewBag.Address</h2>
<br>
<h2>Guests:</h2>
@{
    foreach(var gst in @ViewBag.Guests)
    {
        <p>@gst.User.FirstName @gst.User.LastName</p>
    }
}

 <!--<h3>Google Maps Demo using MVC 4</h3>  
 <br />  
 <div id="map_canvas" style="width: 640px; height: 480px;">  
 </div>  -->



